
 <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Users Dashboard</h1>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="example-sidenav" mode="'side'" opened="true" >
        <mat-nav-list>
            <div class="homeicon">
            <a mat-list-item *ngFor="let item of navItems" (click)="onItemSelected(item)"  [item]="item" [ngClass]="{'active': isActive(item)}">
          <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
            
            <span class="hometext" *ngIf="isExpanded || isShowing"> {{item.displayName}}</span>
          </a>
                 </div>
            
        </mat-nav-list>
    </mat-sidenav>
    
  </mat-sidenav-container>
